* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    gap: 1rem;


}

.header {
    display: flex;
    justify-content: space-between;
}

.cards {
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 360px;

}

.avatar-int {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 5px;
    justify-content: space-between;
}

.nomeutente {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}

.cat-img img {
    width: 100%;

}

.cat-img {
    background-color: lightgray;
}

.icon-set {
    background-color: lightgray;
    padding-bottom: 10px;
    border-radius: 0 0 15px 15px;
}

.miaomiao {
    color: white;
    font-size: small;
}

.dots-1 {
    display: flex;
    align-items: center;
    padding-right: 10px;

}

.icon-set i {
    padding: 10px;
}

.icon-set p {
    padding: 10px;
}

@media all and (max-width: 1194px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

    }

    .cards {
        max-width: 100%;

    }
}

@media all and (max-width: 770px) {
    .cards-container {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
}